# Dependencies
/node_modules

# Build output
/.next
/out

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Keys & Secrets
*.pem
*.key
*.pub
*.crt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

